@mixin button-style($gradient-background-color) {
    padding: 12px 28px;
    border-radius: 30px;
    border: unset;
    background: $gradient-background-color;
    color: white;
    box-shadow: $shadow;
    transition: opacity 300ms ease-in-out, box-shadow 300ms ease-in-out;

    &:hover {
        opacity: 0.8;
        box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.30)
    }
}

@mixin block-style {
    display: flex;
    align-items: center;
    margin: 20px 0px;
    padding: 20px 25px;
    border-radius: 20px;
    box-shadow: $shadow;
    gap: 70px;
}

@mixin list-style {
    padding: 3px 8px;
    background-color: $purple;
    border-radius: 20px;
    color: white;
    margin: -37px;
}

@mixin card-style {
    margin-top: 15px;
    background-color: $white-background-color;
    border-radius: 20px;
}

@mixin heart-button {
    border: none;
    background-color: transparent;
    font-size: 22px;
    font-weight: 100;
    cursor: pointer;
}