$white-background-color: #ffffff;
$grey-background-color: #EAEAEA;
$lightgrey-background-color: #F6F6F6;
$darkgrey-background-color: #353535;
$pink: #ff79da;
$purple: #9356dc;
$gradient-background-color: linear-gradient(180deg, $pink 0%, $purple 100%);
$lightgreen: #99E2D0;
$shadow: 0px 6px 9px rgba(0, 0, 0, 0.15);

