$white-background-color: #ffffff;
$grey-background-color: #EAEAEA;
$lightgrey-background-color: #F6F6F6;
$gradient-background-color: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(218,109,219,1) 0%, rgba(147,86,220,1) 100%);
