* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", "Shrikhand";
}

.main-container {
  background-color: #ffffff;
  font-family: "Roboto";
}

.header__logo {
  padding: 17px 0px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 2.5px 4px rgba(0, 0, 0, 0.09);
  position: relative;
  z-index: 1;
}

.search-container {
  background-color: #EAEAEA;
  padding: 15px;
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
}
.search-container__form__input {
  border: unset;
  background-color: #EAEAEA;
  font-size: 16px;
  width: 110px;
}
.search-container ::-moz-placeholder {
  color: black;
}
.search-container ::placeholder {
  color: black;
}

.restaurants-explore {
  padding: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 27px;
  background-color: #F6F6F6;
}
.restaurants-explore p {
  font-weight: 200;
}
.restaurants-explore button {
  padding: 12px 15px;
  border-radius: 30px;
  border: unset;
  background: linear-gradient(180deg, rgb(255, 121, 218) 0%, rgb(218, 109, 219) 0%, rgb(147, 86, 220) 100%);
  color: white;
}