header {
    display: flex;
    justify-content: center;
    align-items: center;

    &__logo {
        display: flex;
        align-items: center;
    }

    .return-arrow {
        position: absolute;
        left: 0;
        padding-left: 20px;

        a {
            color: black;
            font-size: 1.2em;
            text-decoration: none;
            position: relative;

        }
    }
}

.banner {

    img {
        width: 100%;
    }
}


.menu {
    position: relative;
    background-color: $lightgrey-background-color;
    padding: 15px;
    margin-top: -25px;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;

    .menu__title {
        display: flex;
        justify-content: space-between;


        h1 {
            font-family: Shrikhand;
            font-size: 28px;
            font-weight: 200;
        }

        &__heart,
        &__full-heart {
            @include heart-button;
            position: absolute;
            right: 40px;
            line-height: 40px;
            transition: opacity 0.3s ease-in-out;

        }

        .menu__title__full-heart {
            opacity: 0;
        }

        &:hover {
            .menu__title__heart {
                opacity: 0;
            }

            .menu__title__full-heart {
                opacity: 1;
                background: $gradient-background-color;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
        }
    }

    .menu__food-block {
        margin-top: 35px;

        h2 {
            font-size: 16px;
            font-weight: 300;
            position: relative;

            &::after {
                content: "";
                width: 41px;
                height: 4px;
                background-color: $lightgreen;
                position: absolute;
                left: 0;
                bottom: -7px;
            }
        }

        .menu__food-block__cards {
            margin-top: 25px;
            box-sizing: border-box;
            background-color: $white-background-color;
            box-shadow: $shadow;
            border-radius: 15px;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

        }

        .menu__food-block__cards-txt {
            display: flex;
            flex-direction: column;
            padding: 15px;
            white-space: nowrap;
            overflow: hidden;

            h3 {
                font-size: 18px;
                font-weight: 400;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            p {
                font-size: 15px;
                font-weight: 200;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .menu__food-block__cards-price {
            display: flex;
            margin-right: -75px;
            transition: margin-right 300ms ease-in-out;

            &:hover {
                margin-right: 0px;
            }


            p {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 15px;
                padding: 0px 25px 15px 0px;
            }

            .menu__food-block__cards__check-icon {

                i {

                    color: $white-background-color;
                    background-color: $lightgreen;
                    height: 100%;
                    background-color: #99E2D0;
                    border-radius: 0px 15px 15px 0px;
                    width: 59px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

            }

        }
    }





    .command-button {
        display: flex;
        justify-content: center;
        padding: 40px 0px 25px;

        button {
            @include button-style($gradient-background-color);
            display: flex;
        }
    }
}

@for $i from 1 through 4 {
    .menu__food-block:nth-child(#{$i}) {
        animation: apparition 3000ms ($i - 1) * 1000ms backwards;
    }
}

@keyframes apparition {
    from {
        transform: translateX(500px);
    }

    to {
        transform: translateX(0);
    }
}

@media (min-width: 992px) {

    .main-block {
        padding: 0px 193px;

    }

    .banner {
        img {
            height: 383px;
            object-fit: cover;
        }
    }


    .menu {
        padding: 15px 180px;

        .menu__title {
            display: flex;
            justify-content: center;
            padding: 40px 20px 10px;

            &__heart,
            &__full-heart {
                right: 210px;
            }
        }
    }
}