header {
    .header__logo {
        display: flex;
        align-items: center;

        a {
            color: black;
            font-size: 1.2em;
            text-decoration: none;
            position: relative;
            left: -55px;
        }

    }
}


.banner {

    img {
        width: 100%;
    }
}

.menu {
    position: relative;
    background-color: $lightgrey-background-color;
    padding: 15px;
    margin-top: -25px;
    border-radius: 20px 20px 0px 0px;


    &__title {
        display: flex;
        justify-content: space-between;

        h1 {
            font-family: Shrikhand;
            font-size: 28px;
            font-weight: 200;
        }

        &__like {
            @include heart-button;
            position: relative;
            left: -20px;
        }
    }

    &__food-block {
        margin-top: 25px;

        h2 {
            font-weight: 100;
            font-size: 16px;
            position: relative;
            padding-bottom: 5px;

            &::after {
                content: "";
                width: 41px;
                height: 4px;
                background-color: $lightgreen;
                position: absolute;
                left: 0;
                bottom: -7px;
            }
        }

        h3 {
            font-size: 18px;
            font-weight: 400;
        }

        p {
            font-size: 15px;
            font-weight: 200;
            display: flex;
            justify-content: space-between;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

        }

        .menu__food-block__cards {
            @include block-style;
            background-color: white;
            display: flex;
            flex-direction: column;
            gap: unset;
            align-items: unset;
            padding: 15px;
            position: relative;
            overflow: hidden;
            cursor: pointer;
        
            span {
                font-weight: 400;
                transition: padding-right 300ms ease-in-out;
            }
        
            &__check-icon {
                position: absolute;
                right: -60px;
                top: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 60px;
                color: white;
                background-color: $lightgreen;
                transition: right 300ms ease-in-out;
            }
        
            &:hover span {
                padding-right: 60px;
            }
        
            &:hover .menu__food-block__cards__check-icon {
                right: 0;
            }
        }


    }


    .command-button {
        display: flex;
        justify-content: center;
        padding: 20px;

        button {
            @include button-style($gradient-background-color);
            display: flex;
        }
    }
}

@for $i from 1 through 3 {
    .menu__food-block:nth-child(#{$i}) {
        animation: apparition 3000ms ($i - 1) * 1000ms backwards;
    }
}

@keyframes apparition {
    from {
        transform: translateX(9999px);
    }

    to {
        transform: translateX(0);
    }
}